<form data-title="{{item.title}}" id="update_quantity-{{ item.id }}" action="/baskets/change_item_quantity/" method="POST" aria-label="Change item quantity" onsubmit="return formAction(this.id)" novalidate>
    {% csrf_token %}
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l full-width">
            <h3 class="govuk-!-font-size-19 govuk-!-display-inline-block govuk-!-padding-right-4">Order quantity</h3>
            <input required class="govuk-input govuk-input--width-4" placeholder="0" type="number" name="order_quantity" value="{{ item.quantity }}" min="1" max="{{ item.max_quantity }}" aria-describedby="id-{{ item.id }}" id="resource-{{ item.sku }}" aria-label="Quantity">
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <input type="hidden" name="title" value="{{ item.title }}">
            <button name="add-to-basket" class="link-only update-basket govuk-!-padding-left-4 govuk-!-font-size-19" aria-describedby="id-{{ item.id }}">Update</button>
            {% if item.updated == True %}
                <p class="govuk-!-font-size-16 govuk-!-font-weight-regular govuk-!-padding-top-2" aria-live="polite">Quantity has been updated</p>
            {% endif %}
        </legend>

        <div class="govuk-form-group" id="addToBasketGroup-item-{{ item.id}}">
            <label class="govuk-label govuk-visually-hidden" for="resource-{{ item.sku }}">
                Order quantity
            </label>
            {% if item.bad_quantity %}
                <p id="error-item-{{ item.id}}" class="govuk-error-message">
                    {% if item.maximum_order_quantity == 1 %}
                        {{ item.title }}: Enter a quantity of 1
                    {% else %}
                        {{ item.title }}: Enter a quantity of {{ item.maximum_order_quantity }} or fewer
                    {% endif %}
                </p>
            {% elif item.no_quantity %}
                <p id="error-item-{{ item.id}}" class="govuk-error-message">
                    {% if item.maximum_order_quantity == 1 %}
                        {{ item.title }}: Enter a quantity of 1 using whole numbers with no letters
                    {% else %}
                        {{ item.title }}: Enter a quantity between 1 and {{ item.maximum_order_quantity }} using whole numbers with no letters
                    {% endif %}
                </p>
            {% endif %}
            <p class="basket-info govuk-visually-hidden" aria-live="polite">{{ item.quantity }} {{item.title}} item{% if item.quantity > 1 %}s{% endif %} in your basket</p>
        </div>
    </fieldset>
</form>
