<form data-title="{{resource.title}}" id="resource-order-{{ resource.sku }}" action="/baskets/add_item/" onsubmit="return formAction(this.id)" method="post" aria-label="Add item" class="resource-form" novalidate>
    {% csrf_token %}
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h4 class="govuk-!-font-size-19">Order this resource</h4>
        </legend>

        <div id="addToBasketGroup-resource-{{ resource.sku }}" class="govuk-form-group">
            <label class="govuk-label govuk-visually-hidden" for="resource-{{ resource.sku}}">
                Order quantity
            </label>
            {% if resource.bad_quantity or resource.item.bad_quantity  %}
                <p id="error-resource-{{ resource.sku }}" class="govuk-error-message">
                    {% if resource.maximum_order_quantity == 1 %}
                        {{ resource.title }}: Enter a quantity of 1
                    {% else %}
                        Enter a quantity of {{ resource.maximum_order_quantity }} or fewer
                    {% endif %}
                </p>
            {% elif resource.no_quantity or resource.item.no_quantity %}
                <p id="error-resource-{{ resource.sku }}" class="govuk-error-message">
                    {% if resource.maximum_order_quantity == 1 %}
                        {{ resource.title }}: Enter a quantity of 1 using whole numbers with no letters
                    {% else %}
                        {{ resource.title }}: Enter a quantity between 1 and {{ resource.maximum_order_quantity }} using whole numbers with no letters
                    {% endif %}
                </p> 
            {% endif %}
            <input class="govuk-input govuk-input--width-4" value="1" required type="number" name="order_quantity" min="1" max="{{ resource.maximum_order_quantity }}" aria-describedby="{{ resource.title|slugify }}" aria-label="Quantity" id="resource-{{ resource.sku }}">
            <input type="hidden" name="sku" value="{{ resource.sku }}">
            <input type="hidden" name="resource_page_id" value="{{ resource.resource_page_id }}">
            <button name="Add to basket" aria-describedby="{{ resource.title|slugify }}" class="govuk-button primary-button">Add to basket</button>
            <p class="govuk-!-font-size-16 max-order">Maximum order quantity: {{ resource.maximum_order_quantity }}</p>
            {% if resource.items_in_basket_count > 0 %}
            <p class="basket-info" aria-live="polite">{{resource.items_in_basket_count}} item{% if resource.items_in_basket_count > 1 %}s{% endif %} added to <a href="/baskets/view_basket">your basket</a></p>
            {% endif %}
        </div>
    </fieldset>
</form>
