{% extends "base_page.html" %}
{% load wagtailcore_tags wagtailsettings_tags %}

{% block title %}{{ settings.utils.SystemMessagesSettings.title_404 }}{% endblock %}

{% block body_class %}template-405{% endblock %}

{% block breadcrumbs %}
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
            <a href="/" class="nhsuk-breadcrumb__link">Home</a>
        </li>
      </ol>

      <p class="nhsuk-breadcrumb__back">
        <a href="/" class="nhsuk-breadcrumb__backlink">Back to Home</a>
      </p>
    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="govuk-width-container govuk-!-padding-bottom-7">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <div class="error-content">
                    <h1 class="govuk-heading-xl">Something went wrong</h1>
                    <p>Sorry, you may be trying to access a page which is no longer available.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

