/* Tag Management Results Page Styles */

.status-tag svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 0.25rem;
}

.help-block svg.icon {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.listing td .status-tag {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    white-space: nowrap;
}

.listing td .status-tag svg.icon {
    width: 0.875em;
    height: 0.875em;
    flex-shrink: 0;
}
