{% extends "base_page.html" %}
{% load wagtailcore_tags navigation_tags reading_time_tags static %}
{% load get_django_setting %}

{% block title %}Cookie Declaration{% endblock %}

{% block breadcrumbs %}
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a href="/" class="nhsuk-breadcrumb__link">Home</a>
            </li>
        </ol>

        <p class="nhsuk-breadcrumb__back">
            <a href="/" class="nhsuk-breadcrumb__backlink">Back to Home</a>
        </p>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-margin-bottom-7">
                <h1 class="govuk-heading-xl">Cookies on the Campaign Resource Centre</h1>
                <h2>What are cookies?</h2>
                <p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p> 
                    <p>They store information about how you use the website, such as the pages you visit.</p>
                    <p>Cookies are not viruses or computer programs. They are very small so do not take up much space.</p>
                <h2>How we use cookies</h2>
                <p>We use cookies to:</p>
                <ul>
                    <li>make our website work, for example by keeping it secure</li>
                    <li>remember which pop-ups you've seen</li>
                    <li>measure how you use our website, such as which links you click on (analytics cookies)</li>
                    <li>help show you relevant health campaigns on social media</li>
                </ul>
                <div class="block-details_block govuk-!-margin-bottom-7">
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <h3 class="govuk-details__summary-text">
                                List of cookies that make our website work
                            </h3>
                        </summary>
                        <div class="govuk-details__text">
                            <table class="govuk-table">
                                <caption class="nhsuk-u-visually-hidden">Cookies needed for the NHS website work</caption>
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Name</th>
                                        <th scope="col" class="govuk-table__header">Purpose</th>
                                        <th scope="col" class="govuk-table__header">Expires</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">sessionid</td>
                                        <td class="govuk-table__cell">Remembers currently logged in user</td>
                                        <td class="govuk-table__cell">When you close the browser</td>
                                    </tr>              
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">csrftoken</td>
                                        <td class="govuk-table__cell">Helps keep the site secure by preventing cross-site
                                            request forgery (CSRF) attacks</td>
                                        <td class="govuk-table__cell">1 year</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">nhsuk-cookie-consent</td>
                                        <td class="govuk-table__cell">Remembers if you used our cookies banner</td>
                                        <td class="govuk-table__cell">When you close the browser (if you do not use the
                                            banner) or 1 year (if you use the banner)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </details>
                </div> 
                <h2>Change your cookie settings</h2>
                <p>Some cookies, like those used to measure how you use our website, are not needed for our website to work.</p>
                <p>These cookies can help us make our website better, but we'll only use them if you say it's OK.</p>
                <div class="block-action_link">
                    <div class="nhsuk-action-link">
                        <a class="nhsuk-action-link__link" href="../cookie_settings">
                            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="36" width="36">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                            </svg>
                            <span class="nhsuk-action-link__text">Choose which cookies we use</span>
                        </a>
                    </div>
                </div>
                <h2>How we use the information we collect</h2>
                <p>To find out how we collect, store and use information about you or your visit, see the <a href="../privacy-policy">privacy policy</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
