{% extends "base_page.html" %}
{% load wagtailcore_tags navigation_tags reading_time_tags static %}
{% block title %}Contact us{% endblock %}

{% block breadcrumbs %}
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a href="/" class="nhsuk-breadcrumb__link">Home</a>
            </li>
        </ol>

        <p class="nhsuk-breadcrumb__back">
            <a href="/" class="nhsuk-breadcrumb__backlink">Back to Home</a>
        </p>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Thank you for contacting us</h1>
                <p>Your message has been sent to the OHID Partnerships Team who will get back to you within 10 working days.</p> 
                <p>Go to the <a href="/">homepage</a> or browse our <a href="/campaigns/">campaigns</a></p>
            </div>
        </div>
    </div>
{% endblock %}
