{% extends 'tag_management/bulk_manage_tags_form.html' %}
{% load wagtailadmin_tags static %}

{% block page_title %}Add Tags{% endblock %}

{% block header %}
  {% include 'wagtailadmin/shared/header.html' with title='Bulk Action: Add Tags' icon='tag' %}
{% endblock %}

{% block form_fields %}
  {% include 'wagtailadmin/panels/taxonomy_panel.html' with field=form.tags_to_add taxonomy_terms_json=taxonomy_terms_json %}
  {% include 'wagtailadmin/shared/field.html' with field=form.tag_operation_mode %}
{% endblock %}

{% block preview_content %}
  <p class="operation-text">
    <strong>Operation Mode:</strong>
    {% if form.tag_operation_mode.value == 'replace' %}
      Replace (removed existing tags, added new tags)
    {% else %}
      Merge (added to existing tags)
    {% endif %}
  </p>
  
  {% include 'tag_management/includes/changes_table.html' with show_results=False %}
{% endblock %}
