{% load wagtailimages_tags %}
{% load wagtailcore_tags %}


<div class="crc-container {% if toggle_column %}crc-align-right{% endif %}{% for block in left_column %}{% if forloop.first %}{% if block.block_type == 'image' %}crc-left-column__image{% endif %}{% endif %}{% endfor %}">

  <div class="crc-container__grid app-container-block">
    {% if toggle_column %}
      {% for block in right_column %}
        {% include_block block %}
      {% endfor %}
    {% else %}
    {% for block in left_column %}
        {% include_block block %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="crc-container__grid">
    {% if toggle_column %}
      {% for block in left_column %}
        {% include_block block %}
      {% endfor %}
    {% else %}
      {% for block in right_column %}
        {% include_block block %}
      {% endfor %}
    {% endif %}
  </div>
</div>

