CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}

# On staging, uncomment the following to enable the styleguide
# ENABLE_STYLEGUIDE = True

# DO NOT use on production
RECAPTCHA_PUBLIC_KEY = 'RECAPTCHA_PUBLIC_KEY_PLACEHOLDER'
RECAPTCHA_PRIVATE_KEY = 'RECAPTCHA_PRIVATE_KEY_PLACEHOLDER'
NOCAPTCHA = True
