.intro-panel {
    background: $teal-tint;
    position: relative;
    width: 100%;
    padding: 0;
    display: block;
    margin-bottom: 48px;
}

.intro-panel__content {
    padding: 24px;
    position: relative;
    background-color: $teal-tint;
}

.page-intro {
    margin-bottom: 26px;
}
