.intro-panel {
    background: $teal-tint;
    position: relative;
    width: 100%;
    padding: 0;
    display: block;
    margin-bottom: 48px;

    .govuk-grid-column-two-thirds {
        float: left;
        width: 66.66%;
    }

    @media (max-width: 40.0525em) {
        .govuk-grid-column-two-thirds {
            float: none;
            width: 100%;
        }
    }
    
    &__content {
        padding: 24px;
        position: relative;
    }
}

.page-intro {
    margin-bottom: 26px;
}
