/* stylelint-disable */

.search-results {
    .nhsuk-card {
        padding: 10px;
        background-color: $grey;
        border: 0;
        box-shadow: 0 4px 0 0 $border-bottom;

        a {
            .nhsuk-card__content {
                padding: 10px 0 0 0;
    
                h3 {
                    font-weight: 500;
                    margin-bottom: 10px;
                }
            }

            &:focus {
                background-color: transparent;
            }

            @media (max-width: 40.0525em) {
                .image {
                    float: left;
                    width: 50%;
                }

                .nhsuk-card__content {
                    float: left;
                    width: 50%;
                    padding: 0 0 0 12px;
                }
            }
        }
    }
}

.num-results {
    p {
        margin-bottom: 10px;
        font-weight: 600;
    }
}

label {
    &.sort-by-label {
        padding-right: 10px;
    }
}

#search {
    button {
        &.govuk-button {
            background-color: $blue;

            &:hover {
                background-color: $hover-blue;
            }

            &:focus {
                background-color: $focus;
                color: $black;
            }
        }
    }
}