{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% block titletag %}
    {% if user %}
    Editing {{ user.full_name }}
    {% else %}
    User not found
    {% endif %}
{{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const jobTitleElement = document.getElementById('id_job_title');
            const roleElements = {}
            for (const jobTitle of ['health', 'education']) {
                roleElements[jobTitle] = {
                    element: document.getElementById(`id_${jobTitle}_role`),
                    row: document.getElementById(`id_${jobTitle}_role`).closest('li')
                };
            }

            function hideShowJobRoleRow(selectedJobTitle) {
                for (const jobTitle in roleElements) {
                    const role = roleElements[jobTitle];
                    if (selectedJobTitle === jobTitle) {
                        role.row.style.display = 'block';
                    } else {
                        role.row.style.display = 'none';
                        role.element.value = '';
                    }
                }
            }

            hideShowJobRoleRow(jobTitleElement.value);

            jobTitleElement.addEventListener('change', (event) => hideShowJobRoleRow(event.target.value));
        });
    </script>
{% endblock %}

{% block content %}
    {% if paragon_error %}
        {% include "wagtailadmin/shared/header.html" with title="Editing" icon="user" %}
        <div class="nice-padding">
            <h2 role="alert">Error sending request to Paragon</h2>
        </div>
    {% else %}
        {% if user %}
            {% include "wagtailadmin/shared/header.html" with title="Editing" subtitle=user.full_name icon="user" %}

            <div class="nice-padding">
                <form action="{% url 'paragon_users:edit' user.user_token %}" method="POST">
                    {% csrf_token %}

                    <ul class="fields">
                        {% for field in form %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}
                                <li>{% include "wagtailadmin/shared/field.html" %}</li>
                            {% endif %}
                        {% endfor %}
                        <li>
                            <input type="submit" value="{% trans 'Save' %}" class="button" />
                        </li>
                    </ul>
                </form>
            </div>
        {% else %}
            {% include "wagtailadmin/shared/header.html" with title="User not found" icon="user" %}
        {% endif %}
    {% endif %}
{% endblock %}

