{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% block titletag %}CRC Users{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script>
        let timeout = null;
        let page = parseInt("{{ page }}")
        let limit = parseInt("{{ limit }}")

        $(document).ready(function() {
            fetchData();

            $('#header-search').html($("#user-search-bar"));
            $('#user-search-bar .search-input').on('input',(e) => {
                clearTimeout(timeout);

                timeout = setTimeout(() => {
                    page = 1;
                    fetchData();
                }, 500);
            });
        });

        function fetchData() {
            const data = {
                p:page ,
                limit: limit,
                q: $('#user-search-bar .search-input').val(),
            }

            if(data.q && data.q.length < 2) {
                return;
            }

            $.ajax("{% url 'paragon_users:search_users' %}", {
                type: 'GET',
                data,
                success: function(response) {
                    $('#user-results').html(response);

                    const url = new URL(window.location.href);
                    url.search = new URLSearchParams(data);
                    window.history.pushState({}, '', url);
                },
                error: function() {
                    document.dispatchEvent(
                        new CustomEvent('w-messages:add', {
                            detail: { text: 'Error occurred, fetching users from api.', type: 'error' },
                        }),
                    );
                },
                beforeSend: () => $('#main-content').addClass('loading'),
                complete: () => $('#main-content').removeClass('loading'), 
            })
        }
    </script>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="CRC Users" icon="user" search="<div id='header-search'></div>" %}

    <div class="loading-mask" id="main-content">
        <div class="nice-padding">
            <div id="user-search-bar" class="col search-form">
                <input type="text" placeholder="Email, first name & last name"" value="{{ query }}" class="search-input">
            </div>
            <div id="user-results" class="users"></div>
        </div>
    </div>
{% endblock %}
