{% load i18n wagtailadmin_tags %}
<table class="listing">
    <caption class="govuk-visually-hidden">CRC users</caption>
    <thead>
        <tr>
            <th scope="col" class="name">{% trans "Name" %}</th>
            <th scope="col" class="email">{% trans "Email" %}</th>
            <th scope="col" class="level">{% trans "Level" %}</th>
            <th scope="col" class="registered">{% trans "Registered" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td class="title">
                    <div class="title-wrapper">
                        <a href="{% url 'paragon_users:edit' user.user_token %}">{{ user.full_name }}</a>
                    </div>
                    <ul class="actions">
                        <li><a class="button button-secondary button-small" href="{% url 'paragon_users:edit' user.user_token %}" title="Edit this user">Edit</a></li>
                        <li><a class="button button-secondary button-small" href="{% url 'paragon_users:set_password' user.user_token %}" title="Set password for this user">Set password</a></li>
                    </ul>
                </td>
                <td class="name">{{ user.email }}</td>
                <td class="level">{{ user.role }}</td>
                <td class="created-at">{{ user.created_at|date:"d M Y H:i" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
