{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% block titletag %}
    {% if user %}
    Setting password for {{user.full_name}}
    {% else %}
    User not found
    {% endif %}
{{% endblock %}


{% block content %}


    {% if paragon_error %}
        {% include "wagtailadmin/shared/header.html" with title="Set password" icon="user" %}
        <div class="nice-padding">
            <h2 role="alert">Error sending request to Paragon</h2>
        </div>
    {% else %}
        {% if user %}
            {% include "wagtailadmin/shared/header.html" with title="Set password" subtitle=user.full_name|add:" ("|add:user.email|add:")"  icon="user" %}

            <div class="nice-padding">
                <form action="{% url 'paragon_users:set_password' user.user_token %}" method="POST">
                    {% csrf_token %}

                    <ul class="fields">

                        {% for field in form %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}
                                <li>
                                    {% include "wagtailadmin/shared/field.html" %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li>
                            <input type="checkbox" id="show-password" onclick="showPassword()" class="checkbox" style="margin-top: 20px;">
                            <label for="show-password">Show password:</label>
                        </li>
                        <li>
                        <input type="submit" value="{% trans 'Update Password' %}" class="button" />
                        </li>
                    </ul>
                </form>
            </div>
        {% else %}
            {% include "wagtailadmin/shared/header.html" with title="User not found" icon="user" %}
        {% endif %}
    {% endif %}
    <script>
        function showPassword() {
            const x = document.getElementById("id_password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
{% endblock %}
