{% extends "base_page.html" %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% load page_tags %}

{% block parent_page_title %}
    {% get_parent as parent_title %}
    <title>{% block title %}{{ self.seo_title|default:self.title }}{% endblock %} | {{ parent_title }} | Campaign Resource Centre</title>
{% endblock %}

{% block content %}
    <div class="govuk-width-container govuk-!-padding-bottom-4">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">{{ page.title }}</h1>
                {% if page.introduction %}
                    <p>{{ page.introduction }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <section class="{{page.background_colour}} govuk-!-padding-top-8 govuk-!-padding-bottom-8">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="intro-card guides">
                    <div class="govuk-grid-column-one-half no-padding">
                        {% image page.image width-800 alt=page.image_alt_text %}
                    </div>

                    <div class="govuk-grid-column-one-half govuk-!-padding-left-5 govuk-!-padding-right-5 govuk-!-padding-top-4 govuk-!-padding-bottom-4 content">
                        {{ page.summary|richtext }}
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% block body %}
        {% for block in page.body %}
            {% if block.block_type != 'section' %}
                <div class="govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            {% include_block block %}
                        </div>
                    </div>
                </div>
            {%else%}
                {% include_block block %}
            {%endif%}
        {% endfor %}
    {% endblock %}
{% endblock %}
