{% extends "base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block content %}
    <div class="govuk-width-container govuk-!-padding-bottom-4">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{ page.title }}</h1>
                {% if page.introduction %}
                 <p>{{ page.introduction }}</p>
                {% endif %}
            </div>
        </div>
    </div>

<section class="app-section app-section--grey govuk-!-padding-top-8">
    <div class="govuk-width-container">
        <div class="block-Card_group">
            {% if campaigns %}
                <ul class="nhsuk-grid-row nhsuk-card-group">
                    {% for campaign in campaigns %}
                        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                            <div class="nhsuk-card image-card nhsuk-card--clickable">
                                {% if campaign.image_url %}
                                <img src="{{ campaign.image_url }}" alt="{{ campaign.image_alt }}"/>
                                {% else %}
                                    {% image campaign.image width-400 %}
                                {% endif %}
                                <div class="nhsuk-card__content ">
                                    <h3 class="nhsuk-card__heading nhsuk-card__link">
                                        <a class="nhsuk-card__link" href="{{ campaign.url }}">
                                            {{ campaign.title }}
                                        </a>
                                    </h3>
                                    {{ campaign.summary|safe }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="block-Card_group">
            {% if subpages %}
                <ul class="nhsuk-grid-row nhsuk-card-group">
                    {% if subpages.object_list.exists %}
                        {% for subpage in subpages.object_list.specific %}
                            <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                <div class="nhsuk-card image-card nhsuk-card--clickable">
                                        {% image subpage.image width-800 alt=page.image_alt_text %}
                                        <div class="nhsuk-card__content ">
                                            <h3 class="nhsuk-card__heading nhsuk-card__link">
                                                <a class="nhsuk-card__link" href="{% pageurl subpage %}">
                                                    {% firstof subpage.listing_title subpage.title %}
                                                </a>
                                            </h3>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        {# no items on this page #}
                    {% endif %}
                    {% include "molecules/pagination/pagination.html" with paginator_page=subpages %}
                </ul>
            {% else %}
                {# no items on any page #}
            {% endif %}
        </div>
    </div>
</section>
    {% block body %}
        {% for block in page.body %}
            {% if block.block_type != 'section' %}
            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                    {% include_block block %}
                    </div>
                </div>
            </div>
            {%else%}
                {% include_block block %}
            {%endif%}

        {% endfor %}
    {% endblock %}
{% endblock %}
