{% load wagtailcore_tags wagtailimages_tags %}

<div class="block-Card_group" id="campaigns">
    {% if campaigns %}
        <ul class="nhsuk-grid-row nhsuk-card-group">
            {% for campaign in campaigns %}
                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                    <div class="nhsuk-card image-card  nhsuk-card--clickable ">
                        
                            {% if campaign.image_url %}
                            <img src="{{ campaign.image_url }}" alt="{{ campaign.image_alt }}"/>
                            {% else %}
                                {% image campaign.image width-400 %}
                            {% endif %}
                            <div class="nhsuk-card__content ">
                                <h3 class="nhsuk-card__heading">
                                    <a href="{{ campaign.url }}" class="nhsuk-card__link">{{ campaign.title }}</a>
                                </h3>
                                {{ campaign.summary|safe }}
                            </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>