{% extends "base_page.html" %}
{% block title %}Your basket{% endblock %}

{% block breadcrumbs %}
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a href="/" class="nhsuk-breadcrumb__link">Home</a>
            </li>
        </ol>

        <p class="nhsuk-breadcrumb__back">
            <a href="/" class="nhsuk-breadcrumb__backlink">Back to Home</a>
        </p>
        </div>
    </nav>
{% endblock %}

{% block content %}
    
    <div id="resource-order-error-summary" class="govuk-width-container" tabindex="-1">
        {% if has_errors %}
            {% include 'molecules/baskets/basket_errors.html' %}
        {% endif %}
    </div>
    <div class="govuk-width-container govuk-!-padding-bottom-4">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Your basket</h1>
                <p>Our resources are free to order. Please only order what you need.</p>
            </div>
        </div>
        <div class="govuk-grid-row resources">
            {% if items %}
                {% for index, item in items %}
                    {% include 'molecules/baskets/basket_panel.html' %}
                {% endfor %}
            {% endif %}
            {% include 'molecules/baskets/basket_checkout.html' %}
        </div>
    </div>

    {% block extra_js %}
        {% include "static/form_action.html" %}
        {% include "static/render_basket.html" %}
        {% include "static/render_basket_remove.html" %}
    {% endblock %}
    <script>
        /**
         * Add the event listener to the checkout buton if it exists
         */
        const checkout = document.getElementById("proceed-to-checkout");
        if(checkout) {
            checkout.addEventListener("click", proceedCheckout);
        }

        /**
         * Check if there are errors before proceeding to checkout.
         * Prevent the 'Proceed to checkout' link working if there are.
         * Move the focus to the errors list.
         */
        function proceedCheckout(e) {
            const errorsClass = document.getElementsByClassName("govuk-error-message");
            const valid = document.getElementsByClassName("govuk-error-message govuk-!-display-none");
            const errorSummary = document.getElementById("resource-order-error-summary");
            // Check if the total items in the basket with a potential error message is different from items which have valid values.
            if(errorsClass.length !== valid.length) {
                // Prevent the link from working.
                e.preventDefault();
                // Prevent the events script from running so the page does not reload.
                e.stopImmediatePropagation();
                // Move the focus to the error list.
                checkout.blur();
                errorSummary.focus();
            }
         }

    </script>
{% endblock %}
