{% extends "base_page.html" %}
{% block title %}Your basket{% endblock %}

{% block breadcrumbs %}
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a href="/" class="nhsuk-breadcrumb__link">Home</a>
            </li>
        </ol>

        <p class="nhsuk-breadcrumb__back">
            <a href="/" class="nhsuk-breadcrumb__backlink">Back to Home</a>
        </p>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div id="resource-order-error-summary" class="govuk-width-container govuk-!-display-none">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list" id="errorList">
                        
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-width-container govuk-!-padding-bottom-4">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Your basket</h1>
                <p>Our resources are free to order. Please only order what you need.</p>
            </div>
        </div>

        <div class="govuk-grid-row resources">
            {% if items %}
                {% for index, item in items %}
                <div class="govuk-grid-column-two-thirds">
                    <div class="resource-panel">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-third">
                                <div class="left-panel">
                                    <img src="{{ item.item_image_url }}" alt="{% if item.image_alt_text %}{{ item.image_alt_text }}{% endif %}"/>
                                </div>
                            </div>
                            <div class="govuk-grid-column-two-thirds order-info-panel download">
                                <div>
                                    <h2 class="govuk-!-font-size-24" id="id-{{ item.id }}"><a href="{{ item.item_url }}">{{ item.title }}</a></h2>
                                    <p class="govuk-!-font-size-16 max-order govuk-!-padding-top-2">Maximum order quantity: {{ item.max_quantity }}</p>
                                    <hr>
                                </div>

                                {% include 'molecules/baskets/basket.html' %}

                                <form id="remove_item-{{ item.id }}" action="/baskets/remove_item/" method="POST" aria-label="Remove from basket">
                                    {% csrf_token %}
                                    <fieldset class="govuk-fieldset">
                                        <div class="govuk-form-group govuk-!-padding-top-6">
                                            <input type="hidden" name="item_id" value="{{ item.id }}">
                                            <button name="add-to-basket" class="link-only" aria-describedby="id-{{ item.id }}">Remove from basket</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                    {% else %}
                        <div class="govuk-grid-column-full govuk-!-padding-bottom-6">
                            <p>Your basket is currently empty!</p>
                        </div>
            {% endif %}
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% if items %}
                        <p><a href="/orders/address/edit/" class="govuk-button primary-button">Proceed to checkout</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    {% block extra_js %}
        {% include "static/form_validation.html" %}
        {% include "static/render_basket.html" %}
    {% endblock %}
{% endblock %}
