{% extends "users/confirmation_newsletters.html" %}#
{% block title %}Password Set{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl"> Thank you. Check your email to complete your registration</h1>

                <p>We will email you a link within the next 15 minutes. Click on the link to complete your registration or copy and paste it into a web browser.</p>
                <p>If you do not get this email within 15 minutes, check your spam folder.</p> 
                <p>If it still has not arrived or you have any other issues with registration, email <a href="mailto:partnerships@phe.gov.uk">OHID Partnerships Team</a></p>
                <p>Remember to set up your email newsletter preferences when you first sign in after completing your registration.</p>
            </div>
        </div>
    </div>

{% endblock %}
