{% extends "users/confirmation_newsletters.html" %}#
{% block title %}Account verified{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">You have successfully registered</h1>

                <p>You will always need to <a href="/login/">sign in</a> to download or order resources, change your account details or change your email newsletter preferences.</p>
                
                <h2>Choose your newsletter preferences now</h2>
                <p>You need to pick your <a href="/account/newsletters/">newsletter preferences</a> if you want to hear about any of our campaigns and resources, including anything new added to the site.</p>

                <p>You can choose to hear about specific health topics, target age groups and audience types.</p>
                <p>You can change these preferences or unsubscribe at any time from <a href="/account/">your account</a>.</p>
            </div>
        </div>
    </div>

{% endblock %}
