{% extends "base_page.html" %}
{% block title %}What would you like email updates about?{% endblock %}


{% block breadcrumbs %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a href="/" class="nhsuk-breadcrumb__link">Home</a>
            </li>
        </ol>

        <p class="nhsuk-breadcrumb__back">
            <a href="/" class="nhsuk-breadcrumb__backlink">Back to Home</a>
        </p>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST" class="form-group" novalidate id="signin" autocomplete="off">
                {% if form.non_field_errors or form.errors %}
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
                    data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% for field in form %}
                            {% for error in field.errors %}
                            <li>
                                <a href="#{{field.id_for_label}}">{{error}}</a>
                            </li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            What would you like email updates about?
                        </h1>
                    </legend>
                    <p>We will email you about new resources or updates to existing resources for your chosen topic. You
                        can change your preferences after registering.</p>

                    {% csrf_token %}
                    <div
                        class="govuk-form-group {% if form.email_updates.errors or form.non_field_errors or form.school_resources_types.errors %}govuk-form-group--error{% endif %}">
                        {% if form.email_updates.errors %}
                        <p id="choice-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            {% for error in form.email_updates.errors %}
                            {{ error}}
                            {% endfor %}
                        </p>
                        {% endif %}
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                {{ form.email_updates.0.tag }}
                                <label class="govuk-radios__label" for="{{ form.email_updates.0.id_for_label }}">
                                    {{form.email_updates.0.choice_label}}
                                </label>
                                <div class="govuk-hint govuk-radios__hint">
                                    Resources to promote health campaigns for patients and the public
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                {{ form.email_updates.1.tag }}
                                <label class="govuk-radios__label" for="{{ form.email_updates.1.id_for_label }}">
                                    {{ form.email_updates.1.choice_label }}
                                </label>
                                <div class="govuk-hint govuk-radios__hint">
                                    Resources on health and wellbeing topics
                                </div>
                            </div>
                            <div id="conditional-school-resources"
                                class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden">
                                <div class="govuk-checkboxes">
                                    <div class="govuk-hint">Select one or both age groups</div>
                                    {% if form.school_resources_types.errors %}
                                    <p id="school_resources_types-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>
                                        {% for error in form.school_resources_types.errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </p>
                                    {% endif %}
                                    {% for checkbox in form.school_resources_types %}
                                    <div class="govuk-checkboxes__item">
                                        {{ checkbox.tag }}
                                        <label class="govuk-checkboxes__label" for="{{ checkbox.id_for_label }}">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="govuk-radios__divider">Or</div>
                            <div class="govuk-radios__item">
                                {{ form.email_updates.2.tag }}
                                <label class="govuk-radios__label" for="{{form.email_updates.2.id_for_label}}">
                                    {{form.email_updates.2.choice_label}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-form-group">
                        <button class="govuk-button primary-button" data-module="govuk-button">Continue</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    const toggle = () => {
        document.getElementById('conditional-school-resources')
            .classList.toggle('govuk-checkboxes__conditional--hidden',
                document.querySelector('[name=email_updates]:checked')?.value !== 'school'
            );
    };
    document.querySelectorAll('[name=email_updates]').forEach(radio => radio.addEventListener('change', toggle));
    toggle();
</script>
{% endblock %}