{% extends "base_page.html" %}
{% block title %}Forgotten password{% endblock %}


{% block breadcrumbs %}
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a href="/" class="nhsuk-breadcrumb__link">Home</a>
            </li>
        </ol>

        <p class="nhsuk-breadcrumb__back">
            <a href="/" class="nhsuk-breadcrumb__backlink">Back to Home</a>
        </p>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="govuk-width-container govuk-!-padding-bottom-7">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            <form method="POST" action="/password-reset/" class="form-group" novalidate id="signin" autocomplete="off">
                {% if form.non_field_errors or form.errors %}
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>
                                            <a href="#{{field.id_for_label}}">{{error}}</a>
                                        </li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>
                                        <a href="#signin">{{error}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                            Forgotten your password?
                            </h1>
                        </legend>
                        <p>Enter your email address and we will send you instructions on how to reset your account password.</p>

                        {% csrf_token %}
                        <div class="govuk-form-group {% if form.email.errors or form.non_field_errors %}govuk-form-group--error{% endif %}">
                            <label class="govuk-label" for="{{ form.email.id_for_label }}">Email address</label>
                            {% if form.email.errors %}
                                <p id="email-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    {% for error in form.email.errors %}
                                        {{ error}}
                                    {% endfor %}
                                </p>
                            {% endif %}
                            {{ form.email }}
                        </div>

                        <p>If you have not received a password reset email after 15 minutes, please check your Junk Mail folders. Any problems, contact the <a href="mailto:partnerships@phe.gov.uk">PHE Partnerships Team</a>.</p>

                        <div class="govuk-form-group">
                            <button class="govuk-button primary-button" data-module="govuk-button">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
