{% extends "base_page.html" %}
{% block title %}Reset your password{% endblock %}


{% block breadcrumbs %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item">
                <a href="/" class="nhsuk-breadcrumb__link">Home</a>
            </li>
        </ol>

        <p class="nhsuk-breadcrumb__back">
            <a href="/" class="nhsuk-breadcrumb__backlink">Back to Home</a>
        </p>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="POST" class="form-group" novalidate id="signin" autocomplete="off">
                {% if form.non_field_errors or form.errors %}
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                {% for field in form %}
                                {% for error in field.errors %}
                                <li>
                                    <a href="#{{field.id_for_label}}">{{error}}</a>
                                </li>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <li>
                                    <a href="#id_password">{{error}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Reset your password
                        </h1>
                    </legend>
                    <p>Enter your new password. Passwords must be more than 8 characters long, and it needs to have at least:</p>
                    <ul>
                        <li>1 number</li>
                        <li>1 lower case letter</li>
                        <li>1 capital letter</li>
                        <li>1 symbol</li>
                    </ul>
                    {% csrf_token %}
                    <div
                        class="govuk-form-group {% if form.password.errors or form.non_field_errors %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label" for="{{ form.password.id_for_label }}">Password</label>
                        {% if form.password.errors %}
                            <p id="password-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                {% for error in form.password.errors %}
                                {{ error}}
                                {% endfor %}
                            </p>
                        {% endif %}
                        {{ form.password }}
                    </div>

                    <div
                        class="govuk-form-group {% if form.password_check.errors or form.non_field_errors %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label" for="{{ form.password_check.id_for_label }}">Confirm password</label>
                        {% if form.password_check.errors %}
                            <p id="password-check-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                {% for error in form.password_check.errors %}
                                {{ error}}
                                {% endfor %}
                            </p>
                        {% endif %}
                        {{ form.password_check }}
                        <div class="govuk-checkboxes show-password">
                            <div class="govuk-checkboxes__item">
                                <input type="checkbox" id="show-password-check" onclick="showPassword()" class="govuk-checkboxes__input">
                                <label class="govuk-label govuk-checkboxes__label" for="show-password-check">Show passwords</label>
                            </div>
                        </div>
                    </div>


                    <div class="govuk-form-group">
                        <button class="govuk-button primary-button" data-module="govuk-button">Update password</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<noscript>
    <style>
        .show-password {
            display: none !important;
        }
    </style>
</noscript>
<script>
    function showPassword() {
        const x = document.getElementById("id_password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        const y = document.getElementById("id_password_check");
        if (y.type === "password") {
            y.type = "text";
        } else {
            y.type = "password";
        }
    }
</script>
{% endblock %}
