<script>

    function addNovalidate() {
        var formsCollection = document.getElementsByTagName("form");
        for(var i=1;i<formsCollection.length;i++)
        {
            formsCollection[i].setAttribute('novalidate', 'true')
        }
    }
    window.addEventListener('DOMContentLoaded', (event) => {
        addNovalidate();
    });
   
</script>

<script>
    function formValidation(id) {
        var resourceForm = document.forms[id];
        var selectedField = resourceForm['order_quantity']
        var addToBasketGroup = document.getElementById('addToBasketGroup-' + selectedField.id)
        var quantityError = document.getElementById('error-' + selectedField.id)
        var errorSummary = document.getElementById('resource-order-error-summary')
        var errorList = document.getElementById('errorList')
        var resourceTitle = resourceForm.dataset.title
        var csrfToken = resourceForm['csrfmiddlewaretoken'].value
        
        if (!selectedField.validity.valid) {
            showError()
            return false
        }

        addItem(resourceForm);
        return false

        
        function showError() {
            // Remove focus from the Add to Basket button so that focus will be on the error list.
            document.activeElement.blur();
            if(selectedField.validity.rangeUnderflow) {
                quantityError.textContent = resourceTitle + ': ' + 'Enter a quantity of ' + selectedField.min + ' or more '
            } else if(selectedField.validity.rangeOverflow) {
                quantityError.textContent = resourceTitle + ': ' + 'Enter a quantity of ' + selectedField.max + ' or fewer '
            } else if(selectedField.validity.valueMissing) {
                quantityError.textContent = resourceTitle + ': ' + 'Enter a quantity between ' + selectedField.min + ' and ' + selectedField.max
            } else {
                quantityError.textContent = resourceTitle + ': ' + 'Enter a quantity using numbers not letters'
            }

            createError()
            addToBasketGroup.classList.add('govuk-form-group--error')
            quantityError.classList.remove('govuk-!-display-none')
        
            errorSummary.classList.remove('govuk-!-display-none')
            errorSummary.scrollIntoView()
            errorSummary.focus()
            errorSummary.classList.add('error-focus')
            errorSummary.onblur = function(){
                errorSummary.classList.remove('error-focus')
            }
        }

        function createError() {
            listItem = errorList.getElementsByTagName('li')
            for(var i=0; i < listItem.length; i++) {
                if (listItem[i].innerHTML.includes(selectedField.id)) {
                    listItem[i].remove()
                }
            }
            var listError = document.createElement('li')
            listError.innerHTML = "<a href=#"+selectedField.id+">"+ quantityError.textContent +"</a>"
            errorList.appendChild(listError)
        }

    }
</script>
