<table class="listing">
  <thead>
    <tr>
      <th>Page</th>
      <th>Page Status</th>
      <th>Tags</th>
      {% if not show_results %}
        <th>Changes</th>
      {% else %}
        <th>Result</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>
          <a href="{% url 'wagtailadmin_pages:edit' item.item.id %}" target="_blank" rel="noreferrer">{{ item.item.get_admin_display_title }}</a>
        </td>
        <td>
          {% include 'wagtailadmin/shared/page_status_tag.html' with page=item.item %}
        </td>
        <td>
          {% include 'tag_management/includes/tags.html' with tags=item.tags %}
        </td>
        {% if not show_results %}
          <td>
            {% if item.added_count %}
              <span class="tag-change-added">{{ item.added_count }} Added</span>
            {% endif %}
            {% if item.removed_count %}
              <span class="tag-change-removed">{{ item.removed_count }} Removed</span>
            {% endif %}
            {% if not item.has_changes %}
              <em class="help-text">None</em>
            {% endif %}
          </td>
        {% else %}
          <td>
            {% if item.error %}
              <span class="w-status w-status--critical">Failed</span>
              <br /><small>{{ item.error }}</small>
            {% else %}
              <span class="w-status w-status--label">Updated</span>
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
