<p class="tag-help-text">Click the × to remove a tag from a page</p>

<table class="listing">
  <thead>
    <tr>
      <th class="title">Page</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for page_data in items %}
      <tr>
        <td>
          <a href="{{ page_data.item.edit_url }}" target="_blank" rel="noreferrer">{{ page_data.item.get_admin_display_title }}</a>
        </td>
        <td class="tags-container" data-page-id="{{ page_data.item.id }}">
          {% if page_data.taxonomy_tags %}
            <div class="tags-container">
              {% for term in page_data.taxonomy_tags %}
                <span class="taxonomy-tag" data-tag-code="{{ term.code }}">
                  {{ term.label }}
                  <button type="button" class="btn-remove" data-page-id="{{ page_data.item.id }}" data-tag-code="{{ term.code }}" title="Remove tag">×</button>
                </span>
              {% endfor %}
            </div>
          {% else %}
            <em class="help-text">No tags</em>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
