<table class="listing">
  <thead>
    <tr>
      <th>Page</th>
      <th>Status</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for page_data in items %}
      <tr>
        <td>
          <div class="title-wrapper">
            <a href="{% url 'wagtailadmin_pages:edit' page_data.item.id %}" target="_blank" rel="noreferrer">{{ page_data.item.get_admin_display_title }}</a>
          </div>
        </td>
        <td>
          {% include 'wagtailadmin/shared/page_status_tag.html' with page=page_data.item %}
        </td>
        <td>
          {% if page_data.tags %}
            <div class="tags-container">
              {% for term in page_data.tags %}
                <button class="taxonomy-tag btn-remove" data-tag-code="{{ term.code }}" data-page-id="{{ page_data.item.id }}">
                  {{ term.label }}
                </span>
              {% endfor %}
            </div>
          {% else %}
            <span class="help-text">No tags</span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
